<h1>Editando Chofer</h1>

<%= form_for(@ruta, :url => update_ruta_path , :html => { class: 'form_dark' })  do |f|%>
    <% if @ruta.errors.any? %>
        <%= pluralize(@ruta.errors.count, "Errores") %>
        <% @ruta.errors.full_messages.each do |error| %>
            <%= error %>
        <% end %>
    <% end %>
    <%=f.text_field :descripcion , placeholder:"descripcion"%>
    <%=f.text_field :recorrido , placeholder:"recorrido"%>
    <%=f.text_field :id_empresa , placeholder:"empresa"%>
    <%=f.text_field :id_horario , placeholder:"periodos"%>
    <%=f.submit "Guardar"%>
<%end%>
