<h1>Choferes#index</h1>
<p>Find me in app/views/choferes/index.html.erb</p>

<!-- Main content -->
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listado Choferes
      <%= link_to 'Agregar Chofer', nuevo_chofer_path,:class =>'btn bg-olive margin' %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Rut</th>
        <th>Nombres</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Fecha Ingreso</th>
        <th>Mostrar</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
      </thead>
      <tbody>
      <% @chofer.each do |actual| %>
          <tr>
            <td><%= actual.rut %></td>
            <td><%= actual.nombres %></td>
            <td><%= actual.apellido_pat %></td>
            <td><%= actual.apellido_mat %></td>
            <td><%= actual.fecha_ingreso %></td>
            <td><%= link_to 'Mostrar', chofer_path(actual) %>  %></td>
            <td><%= link_to 'Editar', editar_chofer_path(actual) %></td>
            <td><%= link_to 'Borrar', choferes_path(actual), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
          </tr>
      <%end%>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>

<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>