<p>
  <strong>Rut:</strong>
  <%= @chofer.rut %>
</p>
<p>
  <strong>Nombres:</strong>
  <%= @chofer.nombres %>
</p>
<p>
  <strong>Apellidos:</strong>
  <%= @chofer.apellido_pat %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @chofer.apellido_mat %>
</p>
<p>
  <strong>Correo:</strong>
  <%= @chofer.fecha_ingreso %>
</p>
