
<!-- Main content -->
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listado Empresas
      <%= link_to 'Agregar Empresa', nueva_empresa_path,:class =>'btn bg-olive margin' %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Rut</th>
          <th>Nombre</th>

          <th>Mostrar</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
        </thead>
        <tbody>
        <% @empresa.each do |actual| %>
            <tr>
              <td><%= actual.rut%></td>
              <td><%= actual.nombre %></td>

              <td><%= link_to '<i class="glyphicon glyphicon-book"></i>'.html_safe,  empresa_path(actual), class: 'btn btn-success' %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,  editar_empresa_path(actual), class: 'btn btn-info' %></td>
              <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" ><i class="glyphicon glyphicon-trash"></i></button></td>

              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel"> Confirmacion</h4>
                    </div>
                    <div class="modal-body">
                      ¿Seguro De Que Quieres Eliminar?
                    </div>
                    <div class="modal-footer" style="border: none">
                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                      <button class="btn btn-danger">
                        <%= link_to 'Eliminar'.html_safe,
                                    empresas_path(actual), method: :delete %>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
        <%end%>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>

<script>

$(document).ready(function() {
  $('#example1').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});

    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>